@media (min-width: 768px) {
  .recipe-card-container {
    display: flex;
  }

  .recipe-card {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 1.5em 1.5em;
    float: right;
  }

  .recipe-image-container {
    align-items: center;
    justify-content: unset;
    padding: 1.25em;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  img {
    width: unset;
    max-width: 100%;
  }

  .recipe-heading {
    font-size: 2.4em;
    margin: 0.35em 0 0;
  }

  .recipe-star-container {
    margin-top: 0.5em;
  }

  .recipe-info-container {
    padding: 1em 1em 0;
  }

  hr {
    margin: 0 1em 0 0;
  }

  .recipe-bottom-container {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .recipe-bottom-text {
    font-size: 1.3em;
  }
}

@media (min-width: 992px) {
  .recipe-card {
    grid-template-columns: 1fr 10fr;
  }

	img {
		max-width: unset;
	}
}